.header { 
    &__title { 
        padding: 40px 0 44px;
        font-style: normal;
        font-weight: $fontsBold;
        font-size: 42px;
        margin-left: 22px;
        line-height: 140%;
        @include mobil { 
            padding: 20px 0;
            font-size: 32px;
        }
    }
}