//color 
$colorMain: #F1F9FF;
$colorWhite: #fff;
$colorChathamsBlue:#184272;
$colorGallery: #EBEBEB;
$colorChathamsBlueOp:rgba(24, 66, 114, 0.5);
$colorAlabastera:#F8F8F8;
$colorAbbeya: #021B31;
$colorEmperor: #525252;
$colorAzureRadiance: #0A8BFF;
//font-weight 
$fontsBold: 700;
$fontsSemi: 600;
$fontsMedium: 500;